/SRx/nbproject/private/
/AS50/srx/src/client/.libs/
/AS50/srx/src/shared/.libs/
/AS50/srx/src/util/.libs/
/SRx/
#/AS50/srx/src/tests/extras/.libs/
#/AS50/srx/src/tests/client/.libs/
#/AS50/srx/src/tests/server/.libs/
#/AS50/srx/src/tests/util/.libs/
/AS50/srx/src/tools/.libs/
/AS50/srx/src/server/.libs/.gitignore
01/
*.tar
#*.patch
#*.[oa]
*.o
*.lo
#*.la
*.Po
*.Plo
*.mk
*.bz2
*.bak
*~
*.history
.libs/
.deps/
java/
share/
AS50/do_diff-ignore.txt
AS50/do_diff.sh
#AS50/quagga.txt
AS50/policyload/
AS50/quagga-0.99.16/nbproject/
AS50/quagga-0.99.16.org/
AS50/quagga-0.99.16.srx/
AS50/valgrind-3.5.0/
#AS50/srx/extras/
AS50/xorp_confs/
documentation/
#AS50/srx/src/tests/client/user_client_connection_handler
#AS50/srx/src/tests/client/user_srx_api
old_*
wireshark/
AS50/srx/src/server/srx_server
#AS50/srx/src/tests/rpki_router_example
AS50/srx/src/tools/rpkirtr_dump
AS50/srx/src/tools/rpkirtr_svr
*.dif
*.diff
kyehwan/
#AS50/srx/src/tests/server/test_prefix_cache
#AS50/srx/src/tests/server/test_rpki_handler
#AS50/srx/src/tests/server/test_update_cache
#AS50/srx/src/tests/server/user_prefix_cache
QuaggaSRX02/
#AS50/srx/src/tests/util/demo_plugin.plugin
#AS50/srx/src/tests/util/test_client_socket
#AS50/srx/src/tests/util/test_debug
#AS50/srx/src/tests/util/test_directory
#AS50/srx/src/tests/util/test_multi_client_socket
#AS50/srx/src/tests/util/test_plugin
#AS50/srx/src/tests/util/test_prefix
#AS50/srx/src/tests/util/test_slist
#AS50/srx/src/tests/util/test_str
#AS50/srx/src/tests/util/test_timer
#AS50/srx/src/tests/util/user_debug
#AS50/srx/src/tests/util/user_log
#AS50/srx/src/tests/util/user_server_socket
#AS50/srx/src/tests/util/user_server_socket-multi
#AS50/srx/src/tests/util/user_xml_out
AS50/quagga-0.99.16/srx/slist.h
#AS50/srx/src/tests/extras/test_patricia
#AS50/srx/src/tests/extras/test_uthash
#AS50/srx/src/tests/server/test_command_queue
#AS50/srx/src/tests/server/test_configuration
#AS50/srx/src/client/srx/
*.v01

.gitignore_ollie
cscope.*
*.c.swp
core.*
*tags
*.dat
git/*
*.swp
git.server/*
AS50/srx/dist_test/*
AS50/srx/srx-project-1.0/*
AS50/srx/srx-project-1.0.tar.gz
AS50/srx/src/dist_test/*
AS50/srx/src/tests/rpki_router_example
AS50/srx/extras/local/src
AS50/srx/extras/local/bin
AS50/srx/extras/local/openssl
AS50/srx/extras/local/share
AS50/srx/extras/files/libconfig-1.4.1
AS50/srx/extras/files/Net-Patricia-1.15
.nfs*
**/grpc/
**/callgrind.*
**/*100k
**/*10k
*.zip
*.jpg
XML_visual_quick_examples
**/openssl_util_code/*test
**/openssl_util_code/*test1
**/openssl_util_code/util_openssl 
XML_visual_quick_examples
